#Aviation Analysis
##OBJECTIVE: To identify low risk aircrafts suitable for initial investment in both commercial and private aviation operations.Using historical aircraft accident and incident data as a proxy for risk, this analysis aims to evaluate aircraft types based on safety outcomes and operational reliability.
The findings of this analysis will be translated into actionable, data-driven recommendations to support the Head of the Aviation Division in making informed aircraft purchasing decisions. The ultimate goal is to minimize safety, operational, and financial risk while establishing a reliable and scalable aviation fleet.

In [6]:
#Importing the relevant Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#Loading the dataset with pandas
df = pd.read_csv("Aviation_Data.csv", low_memory=False)
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9189,20001214X40403,Accident,MIA84LA215,1984-07-28,"NAHUNTA, GA",United States,NaN,NaN,4J1,BRANTLEY,...,Instructional,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,NaN
9190,20001214X40349,Accident,LAX84FA418,1984-07-28,"POINT LOMA, CA",United States,NaN,NaN,NaN,NORTH ISLAND,...,Other Work Use,NaN,0.0,0.0,0.0,2.0,VMC,Maneuvering,Probable Cause,NaN
9191,20001214X40336,Accident,FTW84LA328,1984-07-28,"FLOYDADA, TX",United States,NaN,NaN,Q41,FLOYDADA MUNI,...,Instructional,NaN,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,NaN
9192,20001214X40299,Accident,DEN84LA245,1984-07-28,"HOBBS, NM",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,NaN
9193,20001214X40298,Accident,DEN84LA244,1984-07-28,"PAGOSA SPRINGS, CO",United States,NaN,NaN,2V1,STEVENS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Identifying columns in the DataFrame
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [9]:
#Getting more information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9194 entries, 0 to 9193
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                9194 non-null   object
 1   Investigation.Type      9194 non-null   object
 2   Accident.Number         9194 non-null   object
 3   Event.Date              9194 non-null   object
 4   Location                9191 non-null   object
 5   Country                 9155 non-null   object
 6   Latitude                5 non-null      float64
 7   Longitude               5 non-null      float64
 8   Airport.Code            4640 non-null   object
 9   Airport.Name            5556 non-null   object
 10  Injury.Severity         9194 non-null   object
 11  Aircraft.damage         9014 non-null   object
 12  Aircraft.Category       3581 non-null   object
 13  Registration.Number     9193 non-null   object
 14  Make                    9187 non-null   object
 15  Model                   9179 non-null   object
 16  Amateur.Built           9192 non-null   object
 17  Number.of.Engines       9100 non-null   float64
 18  Engine.Type             9191 non-null   object
 19  FAR.Description         3581 non-null   object
 20  Schedule                1604 non-null   object
 21  Purpose.of.flight       9182 non-null   object
 22  Air.carrier             418 non-null    object
 23  Total.Fatal.Injuries    9149 non-null   float64
 24  Total.Serious.Injuries  9138 non-null   float64
 25  Total.Minor.Injuries    9134 non-null   float64
 26  Total.Uninjured         9170 non-null   float64
 27  Weather.Condition       9192 non-null   object
 28  Broad.phase.of.flight   9183 non-null   object
 29  Report.Status           9193 non-null   object
 30  Publication.Date        3638 non-null   object
dtypes: float64(7), object(24)
memory usage: 2.2+ MB

In [10]:
#Checking for missing values in each column
df.isna().sum()

Event.Id                     0
Investigation.Type           0
Accident.Number              0
Event.Date                   0
Location                     3
Country                     39
Latitude                  9189
Longitude                 9189
Airport.Code              4554
Airport.Name              3638
Injury.Severity              0
Aircraft.damage            180
Aircraft.Category         5613
Registration.Number          1
Make                         7
Model                       15
Amateur.Built                2
Number.of.Engines           94
Engine.Type                  3
FAR.Description           5613
Schedule                  7590
Purpose.of.flight           12
Air.carrier               8776
Total.Fatal.Injuries        45
Total.Serious.Injuries      56
Total.Minor.Injuries        60
Total.Uninjured             24
Weather.Condition            2
Broad.phase.of.flight       11
Report.Status                1
Publication.Date          5556
dtype: int64

In [11]:
#Inspecting columns with missing values
df[df.isna().any(axis=1)]

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9189,20001214X40403,Accident,MIA84LA215,1984-07-28,"NAHUNTA, GA",United States,NaN,NaN,4J1,BRANTLEY,...,Instructional,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,NaN
9190,20001214X40349,Accident,LAX84FA418,1984-07-28,"POINT LOMA, CA",United States,NaN,NaN,NaN,NORTH ISLAND,...,Other Work Use,NaN,0.0,0.0,0.0,2.0,VMC,Maneuvering,Probable Cause,NaN
9191,20001214X40336,Accident,FTW84LA328,1984-07-28,"FLOYDADA, TX",United States,NaN,NaN,Q41,FLOYDADA MUNI,...,Instructional,NaN,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,NaN
9192,20001214X40299,Accident,DEN84LA245,1984-07-28,"HOBBS, NM",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,NaN
9193,20001214X40298,Accident,DEN84LA244,1984-07-28,"PAGOSA SPRINGS, CO",United States,NaN,NaN,2V1,STEVENS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Section 2
#Data Cleaning and Preprocessing
#Here we are going to clean and preprocess the data to make it suitable for analysis.This includes handling missing values, converting data types, and renaming columns for better readability.
This dataset contains a lot of columns that are not relevant to our analysis. We will select only the columns that are necessary for our analysis

In [12]:
New_df = df[["Investigation.Type","Accident.Number", "Aircraft.Category","Make","Model", "Number.of.Engines","Engine.Type", "Purpose.of.flight", "Air.carrier", "Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries", "Total.Uninjured"]]
New_df

,Investigation.Type,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,SEA87LA080,NaN,Stinson,108-3,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
1,Accident,LAX94LA336,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0
2,Accident,NYC07LA005,NaN,Cessna,172M,1.0,Reciprocating,Personal,NaN,3.0,NaN,NaN,NaN
3,Accident,LAX96LA321,NaN,Rockwell,112,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
4,Accident,CHI79FA064,NaN,Cessna,501,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9189,Accident,MIA84LA215,NaN,Piper,PA-38-112,1.0,Reciprocating,Instructional,NaN,0.0,0.0,0.0,2.0
9190,Accident,LAX84FA418,NaN,Bell,206B,1.0,Turbo Shaft,Other Work Use,NaN,0.0,0.0,0.0,2.0
9191,Accident,FTW84LA328,NaN,Cessna,152,1.0,Reciprocating,Instructional,NaN,0.0,0.0,0.0,1.0
9192,Accident,DEN84LA245,NaN,Consolidated-vultee,BT-13B,1.0,Reciprocating,Personal,NaN,0.0,0.0,0.0,1.0
9193,Accident,DEN84LA244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Inspecting columns with missing values
New_df[New_df.isna().any(axis=1)]

,Investigation.Type,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,SEA87LA080,NaN,Stinson,108-3,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
1,Accident,LAX94LA336,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0
2,Accident,NYC07LA005,NaN,Cessna,172M,1.0,Reciprocating,Personal,NaN,3.0,NaN,NaN,NaN
3,Accident,LAX96LA321,NaN,Rockwell,112,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
4,Accident,CHI79FA064,NaN,Cessna,501,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9189,Accident,MIA84LA215,NaN,Piper,PA-38-112,1.0,Reciprocating,Instructional,NaN,0.0,0.0,0.0,2.0
9190,Accident,LAX84FA418,NaN,Bell,206B,1.0,Turbo Shaft,Other Work Use,NaN,0.0,0.0,0.0,2.0
9191,Accident,FTW84LA328,NaN,Cessna,152,1.0,Reciprocating,Instructional,NaN,0.0,0.0,0.0,1.0
9192,Accident,DEN84LA245,NaN,Consolidated-vultee,BT-13B,1.0,Reciprocating,Personal,NaN,0.0,0.0,0.0,1.0
9193,Accident,DEN84LA244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN