<a href="https://colab.research.google.com/github/nelimaawuor-lgtm/Phase-1-project/blob/master/Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Aviation Analysis
##OBJECTIVE: To identify low risk aircrafts suitable for initial investment in both commercial and private aviation operations.Using historical aircraft accident and incident data as a proxy for risk, this analysis aims to evaluate aircraft types based on safety outcomes and operational reliability.
The findings of this analysis will be translated into actionable, data-driven recommendations to support the Head of the Aviation Division in making informed aircraft purchasing decisions. The ultimate goal is to minimize safety, operational, and financial risk while establishing a reliable and scalable aviation fleet.

# Section 1

Importing relevant libraries and loading the data.
Making sure to look at its patterns and understand it

In [53]:
#Importing the relevant Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
#Loading the DataFrame
df = pd.read_csv("Aviation_Data.csv", on_bad_lines='skip', engine='python')
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,20001213X33027,Accident,DCA86AA021,1986-03-13,"ALPENA, MI",United States,NaN,NaN,APN,PHELPS-COLLINS,...,Unknown,Simmons Airlines,3.0,5.0,1.0,0.0,IMC,Approach,Probable Cause,07-03-1988
14144,20001213X32975,Incident,ATL86IA093,1986-03-13,"CHARLESTON, SC",United States,NaN,NaN,CHS,CHARLESTON AFB/INTL.,...,Unknown,NaN,0.0,0.0,0.0,79.0,VMC,Landing,Probable Cause,NaN
14145,20001213X32967,Accident,ATL86FA092,1986-03-13,"TOLEDO, OH",United States,NaN,NaN,TOL,TOLEDO,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,NaN
14146,20001213X33030,Accident,DEN86FA099,1986-03-13,"SILVER CITY, NM",United States,NaN,NaN,94E,WHISKEY CREEK,...,Positioning,NaN,0.0,2.0,0.0,0.0,VMC,Maneuvering,Probable Cause,NaN
14147,20001213X33009,Accident,CHI86FER01,1986-03-13,"WILLIAMS, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,3.0,0.0,VMC,Maneuvering,Probable Cause,NaN

In [55]:
#Identifying columns in the DataFrame
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [56]:
#Getting more information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14148 entries, 0 to 14147
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                14148 non-null  object
 1   Investigation.Type      14148 non-null  object
 2   Accident.Number         14148 non-null  object
 3   Event.Date              14148 non-null  object
 4   Location                14143 non-null  object
 5   Country                 14087 non-null  object
 6   Latitude                5 non-null      float64
 7   Longitude               5 non-null      float64
 8   Airport.Code            7146 non-null   object
 9   Airport.Name            8493 non-null   object
 10  Injury.Severity         14148 non-null  object
 11  Aircraft.damage         13875 non-null  object
 12  Aircraft.Category       3592 non-null   object
 13  Registration.Number     14148 non-null  object
 14  Make                    14142 non-null  object
 15  Model                   14133 non-null  object
 16  Amateur.Built           14147 non-null  object
 17  Number.of.Engines       14002 non-null  float64
 18  Engine.Type             14146 non-null  object
 19  FAR.Description         3592 non-null   object
 20  Schedule                2361 non-null   object
 21  Purpose.of.flight       14131 non-null  object
 22  Air.carrier             683 non-null    object
 23  Total.Fatal.Injuries    14085 non-null  float64
 24  Total.Serious.Injuries  14073 non-null  float64
 25  Total.Minor.Injuries    14065 non-null  float64
 26  Total.Uninjured         14105 non-null  float64
 27  Weather.Condition       14147 non-null  object
 28  Broad.phase.of.flight   14127 non-null  object
 29  Report.Status           14148 non-null  object
 30  Publication.Date        3710 non-null   object
dtypes: float64(7), object(24)
memory usage: 3.3+ MB

In [57]:
#Checking for missing values in each column
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      5
Country                      61
Latitude                  14143
Longitude                 14143
Airport.Code               7002
Airport.Name               5655
Injury.Severity               0
Aircraft.damage             273
Aircraft.Category         10556
Registration.Number           0
Make                          6
Model                        15
Amateur.Built                 1
Number.of.Engines           146
Engine.Type                   2
FAR.Description           10556
Schedule                  11787
Purpose.of.flight            17
Air.carrier               13465
Total.Fatal.Injuries         63
Total.Serious.Injuries       75
Total.Minor.Injuries         83
Total.Uninjured              43
Weather.Condition             1
Broad.phase.of.flight        21
Report.Status                 0
Publication.Date          10438
dtype: int64

In [58]:
#Inspecting columns with missing values
df[df.isna().any(axis=1)]

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,20001213X33027,Accident,DCA86AA021,1986-03-13,"ALPENA, MI",United States,NaN,NaN,APN,PHELPS-COLLINS,...,Unknown,Simmons Airlines,3.0,5.0,1.0,0.0,IMC,Approach,Probable Cause,07-03-1988
14144,20001213X32975,Incident,ATL86IA093,1986-03-13,"CHARLESTON, SC",United States,NaN,NaN,CHS,CHARLESTON AFB/INTL.,...,Unknown,NaN,0.0,0.0,0.0,79.0,VMC,Landing,Probable Cause,NaN
14145,20001213X32967,Accident,ATL86FA092,1986-03-13,"TOLEDO, OH",United States,NaN,NaN,TOL,TOLEDO,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,NaN
14146,20001213X33030,Accident,DEN86FA099,1986-03-13,"SILVER CITY, NM",United States,NaN,NaN,94E,WHISKEY CREEK,...,Positioning,NaN,0.0,2.0,0.0,0.0,VMC,Maneuvering,Probable Cause,NaN
14147,20001213X33009,Accident,CHI86FER01,1986-03-13,"WILLIAMS, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,3.0,0.0,VMC,Maneuvering,Probable Cause,NaN

#Section 2
#Data Cleaning and Preprocessing
#Here we are going to clean and preprocess the data to make it suitable for analysis.This includes handling missing values, converting data types, and renaming columns for better readability.
This dataset contains a lot of columns that are not relevant to our analysis. We will select only the columns that are necessary for our analysis

In [59]:
New_df = df[["Investigation.Type","Accident.Number", "Aircraft.Category","Make","Model", "Number.of.Engines","Engine.Type", "Purpose.of.flight", "Air.carrier", "Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries", "Total.Uninjured"]].copy()
New_df

,Investigation.Type,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,SEA87LA080,NaN,Stinson,108-3,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
1,Accident,LAX94LA336,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0
2,Accident,NYC07LA005,NaN,Cessna,172M,1.0,Reciprocating,Personal,NaN,3.0,NaN,NaN,NaN
3,Accident,LAX96LA321,NaN,Rockwell,112,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
4,Accident,CHI79FA064,NaN,Cessna,501,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,Accident,DCA86AA021,NaN,Embraer,EMB-110P1,2.0,Turbo Prop,Unknown,Simmons Airlines,3.0,5.0,1.0,0.0
14144,Incident,ATL86IA093,NaN,Mcdonnell Douglas,DC-9-31,2.0,Turbo Fan,Unknown,NaN,0.0,0.0,0.0,79.0
14145,Accident,ATL86FA092,NaN,Piper,PA-23,2.0,Reciprocating,Personal,NaN,1.0,0.0,0.0,0.0
14146,Accident,DEN86FA099,NaN,Cessna,401,2.0,Reciprocating,Positioning,NaN,0.0,2.0,0.0,0.0
14147,Accident,CHI86FER01,NaN,Cessna,172H,1.0,Reciprocating,Personal,NaN,0.0,1.0,3.0,0.0

In [64]:
#Checking for duplicated values
New_df.duplicated().sum()

np.int64(0)

In [67]:
#Dropping duplicated values
New_df=New_df.drop_duplicates()

In [68]:
#Checking if we dropped the duplicated values
New_df.duplicated().sum()

np.int64(0)

In [60]:
#Checking for the sum of missing values on the new DataFrame
New_df.isna().sum()

Investigation.Type            0
Accident.Number               0
Aircraft.Category         10556
Make                          6
Model                        15
Number.of.Engines           146
Engine.Type                   2
Purpose.of.flight            17
Air.carrier               13465
Total.Fatal.Injuries         63
Total.Serious.Injuries       75
Total.Minor.Injuries         83
Total.Uninjured              43
dtype: int64

In [61]:
#Inspecting columns with missing values
New_df[New_df.isna().any(axis=1)]

,Investigation.Type,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,SEA87LA080,NaN,Stinson,108-3,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
1,Accident,LAX94LA336,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0
2,Accident,NYC07LA005,NaN,Cessna,172M,1.0,Reciprocating,Personal,NaN,3.0,NaN,NaN,NaN
3,Accident,LAX96LA321,NaN,Rockwell,112,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
4,Accident,CHI79FA064,NaN,Cessna,501,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,Accident,DCA86AA021,NaN,Embraer,EMB-110P1,2.0,Turbo Prop,Unknown,Simmons Airlines,3.0,5.0,1.0,0.0
14144,Incident,ATL86IA093,NaN,Mcdonnell Douglas,DC-9-31,2.0,Turbo Fan,Unknown,NaN,0.0,0.0,0.0,79.0
14145,Accident,ATL86FA092,NaN,Piper,PA-23,2.0,Reciprocating,Personal,NaN,1.0,0.0,0.0,0.0
14146,Accident,DEN86FA099,NaN,Cessna,401,2.0,Reciprocating,Positioning,NaN,0.0,2.0,0.0,0.0
14147,Accident,CHI86FER01,NaN,Cessna,172H,1.0,Reciprocating,Personal,NaN,0.0,1.0,3.0,0.0

In [63]:
#Creating Injuries column that will help evaluate risk and filling the missing values
Injury_columns = ["Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries", "Total.Uninjured"]
New_df[Injury_columns] = New_df[Injury_columns].fillna(0)
New_df

,Investigation.Type,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,SEA87LA080,NaN,Stinson,108-3,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
1,Accident,LAX94LA336,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0
2,Accident,NYC07LA005,NaN,Cessna,172M,1.0,Reciprocating,Personal,NaN,3.0,0.0,0.0,0.0
3,Accident,LAX96LA321,NaN,Rockwell,112,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0
4,Accident,CHI79FA064,NaN,Cessna,501,NaN,NaN,Personal,NaN,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,Accident,DCA86AA021,NaN,Embraer,EMB-110P1,2.0,Turbo Prop,Unknown,Simmons Airlines,3.0,5.0,1.0,0.0
14144,Incident,ATL86IA093,NaN,Mcdonnell Douglas,DC-9-31,2.0,Turbo Fan,Unknown,NaN,0.0,0.0,0.0,79.0
14145,Accident,ATL86FA092,NaN,Piper,PA-23,2.0,Reciprocating,Personal,NaN,1.0,0.0,0.0,0.0
14146,Accident,DEN86FA099,NaN,Cessna,401,2.0,Reciprocating,Positioning,NaN,0.0,2.0,0.0,0.0
14147,Accident,CHI86FER01,NaN,Cessna,172H,1.0,Reciprocating,Personal,NaN,0.0,1.0,3.0,0.0

In [70]:
#Filling the null values with unkown in the selected columns
categorical_unkown= ["Aircraft.Category", "Engine.Type", "Purpose.of.flight", "Make", "Model","Air.carrier"]
New_df[categorical_unkown] = New_df[categorical_unkown].fillna("Unknown")
New_df

,Investigation.Type,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,SEA87LA080,Unknown,Stinson,108-3,1.0,Reciprocating,Personal,Unknown,2.0,0.0,0.0,0.0
1,Accident,LAX94LA336,Unknown,Piper,PA24-180,1.0,Reciprocating,Personal,Unknown,4.0,0.0,0.0,0.0
2,Accident,NYC07LA005,Unknown,Cessna,172M,1.0,Reciprocating,Personal,Unknown,3.0,0.0,0.0,0.0
3,Accident,LAX96LA321,Unknown,Rockwell,112,1.0,Reciprocating,Personal,Unknown,2.0,0.0,0.0,0.0
4,Accident,CHI79FA064,Unknown,Cessna,501,NaN,Unknown,Personal,Unknown,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,Accident,DCA86AA021,Unknown,Embraer,EMB-110P1,2.0,Turbo Prop,Unknown,Simmons Airlines,3.0,5.0,1.0,0.0
14144,Incident,ATL86IA093,Unknown,Mcdonnell Douglas,DC-9-31,2.0,Turbo Fan,Unknown,Unknown,0.0,0.0,0.0,79.0
14145,Accident,ATL86FA092,Unknown,Piper,PA-23,2.0,Reciprocating,Personal,Unknown,1.0,0.0,0.0,0.0
14146,Accident,DEN86FA099,Unknown,Cessna,401,2.0,Reciprocating,Positioning,Unknown,0.0,2.0,0.0,0.0
14147,Accident,CHI86FER01,Unknown,Cessna,172H,1.0,Reciprocating,Personal,Unknown,0.0,1.0,3.0,0.0

In [71]:
#Here we are imputing number of engines with the mode
Engines_mode=New_df["Number.of.Engines"].mode()[0]
New_df["Number.of.Engines"]=New_df["Number.of.Engines"].fillna(Engines_mode)
New_df

,Investigation.Type,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,SEA87LA080,Unknown,Stinson,108-3,1.0,Reciprocating,Personal,Unknown,2.0,0.0,0.0,0.0
1,Accident,LAX94LA336,Unknown,Piper,PA24-180,1.0,Reciprocating,Personal,Unknown,4.0,0.0,0.0,0.0
2,Accident,NYC07LA005,Unknown,Cessna,172M,1.0,Reciprocating,Personal,Unknown,3.0,0.0,0.0,0.0
3,Accident,LAX96LA321,Unknown,Rockwell,112,1.0,Reciprocating,Personal,Unknown,2.0,0.0,0.0,0.0
4,Accident,CHI79FA064,Unknown,Cessna,501,1.0,Unknown,Personal,Unknown,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14143,Accident,DCA86AA021,Unknown,Embraer,EMB-110P1,2.0,Turbo Prop,Unknown,Simmons Airlines,3.0,5.0,1.0,0.0
14144,Incident,ATL86IA093,Unknown,Mcdonnell Douglas,DC-9-31,2.0,Turbo Fan,Unknown,Unknown,0.0,0.0,0.0,79.0
14145,Accident,ATL86FA092,Unknown,Piper,PA-23,2.0,Reciprocating,Personal,Unknown,1.0,0.0,0.0,0.0
14146,Accident,DEN86FA099,Unknown,Cessna,401,2.0,Reciprocating,Positioning,Unknown,0.0,2.0,0.0,0.0
14147,Accident,CHI86FER01,Unknown,Cessna,172H,1.0,Reciprocating,Personal,Unknown,0.0,1.0,3.0,0.0

In [72]:
#Confirming if we still have missing values
New_df.isna().sum()

Investigation.Type        0
Accident.Number           0
Aircraft.Category         0
Make                      0
Model                     0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Air.carrier               0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
dtype: int64

In [77]:
# Converting injury and engine count columns to integer type
int_columns = ["Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries", "Total.Uninjured", "Number.of.Engines"]
New_df[int_columns] = New_df[int_columns].astype(int)
New_df.head()

,Investigation.Type,Accident.Number,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,SEA87LA080,Unknown,Stinson,108-3,1,Reciprocating,Personal,Unknown,2,0,0,0
1,Accident,LAX94LA336,Unknown,Piper,PA24-180,1,Reciprocating,Personal,Unknown,4,0,0,0
2,Accident,NYC07LA005,Unknown,Cessna,172M,1,Reciprocating,Personal,Unknown,3,0,0,0
3,Accident,LAX96LA321,Unknown,Rockwell,112,1,Reciprocating,Personal,Unknown,2,0,0,0
4,Accident,CHI79FA064,Unknown,Cessna,501,1,Unknown,Personal,Unknown,1,2,0,0